APP_NAME="Ally Pay"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000


# DATABASE

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ally_pay
DB_USERNAME=root
DB_PASSWORD=


# CACHE / SESSION

CACHE_STORE=database

SESSION_DRIVER=database
SESSION_LIFETIME=120


# QUEUE

QUEUE_CONNECTION=database


# MAIL

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="support@allypay.com"
MAIL_FROM_NAME="Ally Pay"


# PASSPORT

PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=


# LOGGING

LOG_CHANNEL=stack
LOG_LEVEL=debug


# PAYMENT SETTINGS

PAYMENT_MODE=test


# SECURITY

RATE_LIMIT_ENABLED=true